@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("/public/images/cool-background.png");
    background-size: cover;
    color: azure;

}

span{
    color: darkgray;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

.main-container{
    margin: 5px 10px;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    margin: 5px;
}

.flex-item{
    flex-grow: 1;
    margin: 10px;
}

.flex-item-double{
    flex-grow: 2;
    margin: 10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}



/* Search fields styles */
.search-field{
    width: 50%;
    font-family: 'Inconsolata', monospace;;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: azure;
    background-image: url('/public/images/search.png');
    background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search-field:focus{
    width: 100%;
}

/*input form styles*/
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    float: right;
}

.title-input{
    font-family: 'Inconsolata', monospace;;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid black;
    background-color: azure;
    border-radius: 4px;
    box-sizing: border-box;
}

.body-input{
    font-family: 'Inconsolata', monospace;;
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid black;
    background-color: azure;
    border-radius: 4px;
    box-sizing: border-box;
}


.button-28 {
  appearance: none;
  background-color: azure;
  border: 4px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/* notes item styles*/

.card{
    background-color: azure;
    border-radius: 4px;
    width: 250px;
    min-width: 250px;
    margin: 10px;
    height: fit-content;
    border: 4px solid black;
}

.card-title{
    color:#1A1A1A;
    height: 20px;
    padding: 10px;
    margin: 0;
}

.card-body{
    color: #1A1A1A;
    height: 150px;
    font-size: smaller;
    padding: 5px;
}

.card-button{
    height: fit-content;
}

.delete-btn{
    width: 50%;
    height: 30px;
    background-color: transparent;
    color: red;
    cursor: pointer;
    border: 2px solid black;
}

.delete-btn:hover{
    background-color: red;
    color: azure;
}

.delete-btn:active{
    background-color: rgb(114, 2, 2);
}

.archive-btn{
    width: 50%;
    height: 30px;
    background-color: transparent;
    color: orange;
    cursor: pointer;
    border: 2px solid black;
}

.archive-btn:hover{
    background-color: orange;
    color: azure;
}

.archive-btn:active{
    background-color: rgb(146, 96, 3);
}

.move-btn{
    width: 50%;
    height: 30px;
    background-color: transparent;
    color: green;
    cursor: pointer;
    border: 2px solid black;
}

.move-btn:hover{
    background-color: rgb(1, 185, 1);
    color: azure;
}

.move-btn:active{
    background-color: darkgreen;
}

/*notes list styles*/
.notes-list{
    height: fit-content;
    width: 1000px;
    overflow: auto;
    margin: 5px;
    background-color: skyblue;
    border: 2px solid #1A1A1A;
    box-shadow: 2px 2px 3px 3px #1A1A1A;
}

.notes-list::-webkit-scrollbar{
    scrollbar-width: thin;
    height: 8px;
}

.notes-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.notes-list::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: black;
    outline: 1px solid slategray;
}

